In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [3]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),
                                                df['has_covid'],
                                                test_size=0.2)

In [12]:
X_train

    age  gender  fever   cough       city
78   11    Male  100.0    Mild  Bangalore
93   27    Male  100.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata
64   42    Male  104.0    Mild     Mumbai
48   66    Male   99.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
22   71  Female   98.0  Strong    Kolkata
19   42  Female    NaN  Strong  Bangalore
39   50  Female  103.0    Mild    Kolkata
56   71    Male    NaN  Strong    Kolkata

[80 rows x 5 columns]

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [44]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [52]:
X_train.shape

(80, 5)

In [53]:
X_train_scaled.shape

(80, 7)