In [4]:
 num=24
if num%2==0:
    print("The Number is even")
else:
    print("The Number is odd")

The Number is even

In [6]:
def even_odd(num):
    if num%2==0:
        print("The Number is even")
    else:
        print("The Number is odd")

In [7]:
even_odd(31)

The Number is odd

In [8]:
name=input("Enter your name: ")

Enter your name:  Dipu Ghosh

In [9]:
def hello():
    print("Hello world")

In [10]:
hello()

Hello world

In [11]:
def hello():
    return "Hii myself Dipu"

In [12]:
hello()

'Hii myself Dipu'

In [13]:
def addnumber(num1,num2):
    return num1+num2

In [15]:
val=addnumber(5,7)

In [16]:
val

12

In [19]:
def hello(name,age):
    print("My name is {} and age {}".format(name,age))

In [22]:
hello('Dipu',25)

My name is Dipu and age 25

In [29]:
lst=[1,2,3,4,5,6,7]

In [34]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
           even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [35]:
evenoddsum(lst)

(12, 16)

In [36]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [37]:
even_or_odd(20)

'The number 20 is even'

In [50]:
lst=[12,13,24,26,31,35,87]

In [52]:
list(map(even_or_odd,lst))

TypeError: 'list' object is not callable